@import 'base/vars.scss';
@import 'base/utils.scss';
@import 'base/layout.scss';

@import '../../assets/css/src/lib/normalize.7.0.0.css';

@import 'blocks/nav.scss';
@import 'blocks/tab1.scss';

/*@import 'blocks/_b_sample.scss';*/