@import url(../../assets/css/src/lib/normalize.7.0.0.css);
.hide-on-desktop,
.responsive-only,
.tablet-only,
.mobile-only {
  display: none !important; }

.desktop-only,
.hide-on-responsive,
.hide-on-tablet,
.hide-on-mobile {
  display: inherit; }

@media only screen and (max-width: 1023px) {
  .responsive-only,
  .tablet-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-tablet {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .responsive-only,
  .mobile-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-mobile {
    display: none !important; } }

.row:before, .wrapper:before, .row:after, .wrapper:after {
  content: ' ';
  display: table; }

.row:after, .wrapper:after {
  clear: both; }

body {
  padding: 0 40px 40px 40px;
  background-color: #FAFAFA;
  font-family: "Roboto"; }

.row {
  width: 100%;
  clear: both; }

.wrapper {
  width: 100%;
  max-width: 1264px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  clear: both; }

section.page-section {
  border: 1px solid #E0E1E6;
  box-sizing: border-box; }
  section.page-section h1 {
    color: #003970;
    font-size: 24px;
    font-family: "Roboto Slab";
    font-weight: 100;
    text-align: center; }
    section.page-section h1 strong {
      font-weight: 800; }
    section.page-section h1 .star-icon {
      height: 12px;
      width: 12px;
      display: inline-block;
      background: url("../img/star-orange.svg") no-repeat;
      margin: 0 2px 0 2px; }

nav#menu {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  border: 1px solid #E0E1E6;
  border-top: none;
  box-sizing: border-box;
  background-color: #ffffff; }
  nav#menu .menu-item {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #72BAF2;
    text-decoration: none;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 300;
    font-style: normal; }
    nav#menu .menu-item.active {
      color: #003970;
      border-bottom: 2px solid #003970; }
    nav#menu .menu-item:hover {
      color: #105AA3;
      text-decoration: underline; }

.page-section {
  display: none; }

#tab1Container .room-types {
  display: flex; }
  #tab1Container .room-types .room-type-item {
    flex: 1 1 auto;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: white;
    border: 1px solid #C9E4F9; }
    #tab1Container .room-types .room-type-item:not(.active) {
      cursor: pointer; }
    #tab1Container .room-types .room-type-item h2 {
      font-family: "Roboto";
      font-weight: 800;
      font-size: 16px;
      color: #105AA3;
      text-align: center; }
    #tab1Container .room-types .room-type-item hr {
      width: 40%;
      color: #105AA3;
      border: 0;
      height: 2px;
      background-color: #E0E1E6; }
    #tab1Container .room-types .room-type-item ul {
      min-height: 400px;
      padding-left: 26px; }
      #tab1Container .room-types .room-type-item ul li {
        margin-top: 6px;
        width: 90%;
        color: #E0E1E6;
        font-size: 15px; }
        #tab1Container .room-types .room-type-item ul li span {
          color: #003970; }
    #tab1Container .room-types .room-type-item label.button {
      background-color: #FAFAFA;
      border: 1px solid #C9E4F9;
      height: 44px;
      width: 80%;
      margin: 0 auto 20px auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      #tab1Container .room-types .room-type-item label.button input[type=radio] {
        display: none; }
      #tab1Container .room-types .room-type-item label.button .simulated-radio {
        border: 1px solid #C9E4F9;
        background: white;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        position: relative;
        right: 5px; }
        #tab1Container .room-types .room-type-item label.button .simulated-radio .inner-simulated-radio {
          position: absolute;
          border-radius: 50%;
          height: 10px;
          width: 10px;
          top: 50%;
          left: 50%;
          margin: -5px 0px 0px -5px; }
    #tab1Container .room-types .room-type-item.active {
      border-color: #003970; }
      #tab1Container .room-types .room-type-item.active label.button {
        border-color: #003970; }
        #tab1Container .room-types .room-type-item.active label.button .simulated-radio {
          border: 1px solid #6dc138; }
          #tab1Container .room-types .room-type-item.active label.button .simulated-radio .inner-simulated-radio {
            background: #6dc138; }
    #tab1Container .room-types .room-type-item:hover {
      border-color: #003970; }

/*@import 'blocks/_b_sample.scss';*/
