@import url(../../assets/css/src/lib/normalize.7.0.0.css);
.hide-on-desktop,
.responsive-only,
.tablet-only,
.mobile-only {
  display: none !important; }

.desktop-only,
.hide-on-responsive,
.hide-on-tablet,
.hide-on-mobile {
  display: inherit; }

@media only screen and (max-width: 1023px) {
  .responsive-only,
  .tablet-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-tablet {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .responsive-only,
  .mobile-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-mobile {
    display: none !important; } }

.row:before, .wrapper:before, .row:after, .wrapper:after {
  content: ' ';
  display: table; }

.row:after, .wrapper:after {
  clear: both; }

body {
  padding: 0 40px 40px 40px;
  background-color: #FAFAFA;
  font-family: "Roboto"; }

.row {
  width: 100%;
  clear: both; }

.wrapper {
  width: 100%;
  max-width: 1264px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  clear: both; }

section.page-section {
  border: 1px solid #E0E1E6;
  box-sizing: border-box; }
  section.page-section h1 {
    color: #003970;
    font-size: 24px;
    font-family: "Roboto Slab";
    font-weight: 100;
    margin: 36px 0;
    text-align: center; }
    section.page-section h1 strong {
      font-weight: 800; }
    section.page-section h1 .star-icon {
      height: 12px;
      width: 12px;
      display: inline-block;
      background: url("../img/star-orange.svg") no-repeat;
      margin: 0 2px 0 2px; }
      section.page-section h1 .star-icon:first-of-type {
        margin-left: 20px; }

nav#menu {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  border: 1px solid #E0E1E6;
  border-top: none;
  box-sizing: border-box;
  background-color: #ffffff; }
  nav#menu .menu-item {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #72BAF2;
    text-decoration: none;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 300;
    font-style: normal; }
    nav#menu .menu-item.active {
      color: #003970;
      border-bottom: 2px solid #003970; }
    nav#menu .menu-item:hover {
      color: #105AA3;
      text-decoration: underline; }

.page-section {
  display: none; }

#tab1Container .room-types {
  display: flex; }
  #tab1Container .room-types .room-type-item {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 130px;
    background-color: white;
    border: 1px solid #C9E4F9; }
    #tab1Container .room-types .room-type-item:not(.active) {
      cursor: pointer; }
    #tab1Container .room-types .room-type-item h2 {
      font-family: "Roboto";
      font-weight: 800;
      font-size: 16px;
      color: #105AA3;
      text-align: center; }
    #tab1Container .room-types .room-type-item hr {
      width: 40%;
      color: #105AA3;
      border: 0;
      height: 2px;
      background-color: #E0E1E6; }
    #tab1Container .room-types .room-type-item ul {
      padding-left: 26px; }
      #tab1Container .room-types .room-type-item ul li {
        margin-top: 6px;
        width: 90%;
        color: #E0E1E6;
        font-size: 15px; }
        #tab1Container .room-types .room-type-item ul li span {
          color: #003970; }
    #tab1Container .room-types .room-type-item label.button {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      background-color: #FAFAFA;
      border: 1px solid #C9E4F9;
      height: 44px;
      width: 80%;
      margin: 0 auto 20px auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      #tab1Container .room-types .room-type-item label.button input[type=radio] {
        display: none; }
      #tab1Container .room-types .room-type-item label.button .simulated-radio {
        border: 1px solid #C9E4F9;
        background: white;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        position: relative;
        right: 5px; }
        #tab1Container .room-types .room-type-item label.button .simulated-radio .inner-simulated-radio {
          position: absolute;
          border-radius: 50%;
          height: 10px;
          width: 10px;
          top: 50%;
          left: 50%;
          margin: -5px 0px 0px -5px; }
    #tab1Container .room-types .room-type-item.active {
      border-color: #003970; }
      #tab1Container .room-types .room-type-item.active label.button {
        border-color: #003970; }
        #tab1Container .room-types .room-type-item.active label.button .simulated-radio {
          border: 1px solid #6dc138; }
          #tab1Container .room-types .room-type-item.active label.button .simulated-radio .inner-simulated-radio {
            background: #6dc138; }
    #tab1Container .room-types .room-type-item:hover {
      border-color: #003970; }

@media only screen and (max-width: 1023px) {
  #tab1Container .room-types {
    flex-direction: column; }
    #tab1Container .room-types .room-type-item {
      flex-direction: row;
      align-items: center;
      padding-bottom: 0px; }
      #tab1Container .room-types .room-type-item h2 {
        width: 200px; }
      #tab1Container .room-types .room-type-item hr {
        display: none; }
      #tab1Container .room-types .room-type-item ul {
        min-width: calc( 58% - 34px); }
      #tab1Container .room-types .room-type-item label.button {
        position: inherit;
        left: 0;
        -webkit-transform: none;
        transform: none;
        width: 170px;
        margin-right: 14px;
        margin: 0 14px 0 0; } }

@media only screen and (max-width: 767px) {
  #tab1Container .room-types .room-type-item {
    flex-wrap: wrap;
    font-size: 80%;
    justify-content: center; } }

#tab2Container .optional-services {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #E0E1E6;
  background-color: white; }
  #tab2Container .optional-services .warning-tag {
    margin-right: 41px;
    padding: 2px 4px;
    position: absolute;
    right: 0px;
    background-color: #E82E34;
    font-family: "Roboto";
    font-size: 10px;
    color: white;
    letter-spacing: 1.52px; }
  #tab2Container .optional-services .optional-services-header {
    width: 100%;
    height: 50px;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    padding-left: 46px;
    border: none;
    background-color: white;
    text-align: left;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 800;
    color: #72BAF2; }
    #tab2Container .optional-services .optional-services-header:before {
      content: " ";
      width: 26px;
      height: 24px;
      position: absolute;
      left: 0px;
      background-image: url("../img/angle-down-blue.svg");
      background-repeat: no-repeat;
      background-position: 5px 10px; }
    #tab2Container .optional-services .optional-services-header sub {
      margin-left: 20px;
      position: relative;
      line-height: 0;
      color: #003970;
      font-size: 50%;
      vertical-align: middle; }
    #tab2Container .optional-services .optional-services-header.opened:before {
      top: 10px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  #tab2Container .optional-services .optional-service {
    margin-bottom: 30px;
    color: #6E7079;
    border: 1px solid #E0E1E6; }
    #tab2Container .optional-services .optional-service .main-information {
      display: flex;
      align-items: flex-start; }
      #tab2Container .optional-services .optional-service .main-information .optional-service-description {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        font-family: "Roboto";
        font-size: 14px; }
        #tab2Container .optional-services .optional-service .main-information .optional-service-description h3 {
          font-family: "Roboto";
          color: #72BAF2; }
        #tab2Container .optional-services .optional-service .main-information .optional-service-description .more-information-link {
          width: 100%;
          cursor: pointer;
          border: none;
          background-color: white;
          text-align: left;
          font-family: "Roboto";
          font-size: 18px;
          font-weight: 800;
          color: #72BAF2; }
          #tab2Container .optional-services .optional-service .main-information .optional-service-description .more-information-link:before {
            content: " ";
            width: 26px;
            height: 24px;
            position: absolute;
            left: 296px;
            background-image: url("../img/angle-down-blue.svg");
            background-repeat: no-repeat;
            background-position: 5px 10px;
            background-size: 15px; }
          #tab2Container .optional-services .optional-service .main-information .optional-service-description .more-information-link.opened:before {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg); }
    #tab2Container .optional-services .optional-service .more-information-container {
      padding-left: 24px;
      padding-right: 24px;
      font-family: "Roboto";
      font-size: 14px; }
      #tab2Container .optional-services .optional-service .more-information-container .include-list {
        display: flex;
        justify-content: space-between; }
        #tab2Container .optional-services .optional-service .more-information-container .include-list ul {
          flex: 1; }
      #tab2Container .optional-services .optional-service .more-information-container .more-information-note {
        font-weight: 800;
        color: #003970; }

@media only screen and (max-width: 1023px) {
  #tab2Container .optional-services .optional-service .main-information {
    flex-direction: column;
    align-items: center; }
    #tab2Container .optional-services .optional-service .main-information .optional-service-image img {
      width: 100%; }
    #tab2Container .optional-services .optional-service .main-information .more-information-link {
      padding-left: 46px; }
      #tab2Container .optional-services .optional-service .main-information .more-information-link:before {
        left: 0px; }
  #tab2Container .optional-services .optional-service .more-information-container .include-list {
    display: flex;
    flex-direction: column; }
  #tab2Container .optional-services .optional-service .more-information-container .more-information-note {
    font-weight: 800;
    color: #003970; }
  #tab2Container .optional-services .optional-service .more-information-container .include-list ul {
    margin: 0px; }
    #tab2Container .optional-services .optional-service .more-information-container .include-list ul li {
      margin: 10px 0px; } }

/*@import 'blocks/_b_sample.scss';*/
