@import url(../../assets/css/src/lib/normalize.7.0.0.css);
.hide-on-desktop,
.responsive-only,
.tablet-only,
.mobile-only {
  display: none !important; }

.desktop-only,
.hide-on-responsive,
.hide-on-tablet,
.hide-on-mobile {
  display: inherit; }

@media only screen and (max-width: 1023px) {
  .responsive-only,
  .tablet-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-tablet {
    display: none !important; } }

@media only screen and (max-width: 767px) {
  .responsive-only,
  .mobile-only {
    display: block !important; }
  .desktop-only,
  .hide-on-responsive,
  .hide-on-mobile {
    display: none !important; } }

.row:before, .wrapper:before, nav:before, .row:after, .wrapper:after, nav:after {
  content: ' ';
  display: table; }

.row:after, .wrapper:after, nav:after {
  clear: both; }

body {
  padding: 0 40px 40px 40px;
  background-color: #fafafa;
  font-family: 'Roboto'; }

.row {
  width: 100%;
  clear: both; }

.wrapper {
  width: 100%;
  max-width: 1264px;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  clear: both; }

nav {
  width: 100%;
  max-width: 1264px;
  margin-right: auto;
  margin-left: auto;
  clear: both; }

nav#menu {
  display: flex;
  justify-content: flex-end;
  height: 45px;
  border: 1px solid #E0E1E6;
  border-top: none;
  box-sizing: border-box;
  background-color: #ffffff; }
  nav#menu .menu-item {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #72BAF2;
    text-decoration: none;
    line-height: 14px;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 300;
    font-style: normal; }
    nav#menu .menu-item.active {
      color: #003970;
      border-bottom: 2px solid #003970; }
    nav#menu .menu-item:hover {
      color: #263746;
      text-decoration: underline; }

/*@import 'blocks/_b_sample.scss';*/
