//
// Desktop
//
#tab1Container .room-types {
  display: flex;
  .room-type-item {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 130px;
    background-color: white;
    border: 1px solid $c-border-secondary;
    &:not(.active) {
      cursor: pointer;
    }
    h2 {
      font-family: "Roboto";
      font-weight: 800;
      font-size: 16px;
      color: $c-secondary;
      text-align: center;
    }
    hr {
      width: 40%;
      color: $c-secondary;
      border: 0;
      height: 2px;
      background-color: $c-thirth;
    }
    ul {
      padding-left: 26px;
      li {
        margin-top: 6px;
        width: 90%;
        color: $c-thirth;
        font-size: 15px;
        span {
          color: $c-primary;
        }
      }
    }
    label.button {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      background-color: $c-background-secondary;
      border: 1px solid $c-border-secondary;
      height: 44px;
      width: 80%;
      margin: 0 auto 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      input[type=radio] {
        display: none;
      }
      .simulated-radio {
        border: 1px solid $c-border-secondary;
        background: white;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        position: relative;
        right: 5px;
        .inner-simulated-radio {
          position: absolute;
          border-radius: 50%;
          height: 10px;
          width: 10px;
          top: 50%;
          left: 50%;
          margin: -5px 0px 0px -5px;
        }
      }
    }
    &.active {
      border-color: $c-primary;
      label.button {
        border-color: $c-primary;
        .simulated-radio {
          border: 1px solid #6dc138;
          .inner-simulated-radio {
            background: #6dc138;
          }
        }
      }
    }
    &:hover {
      border-color: $c-primary;
    }
  }
}

//
// Tablet
//
@include media($tablet) {
  #tab1Container .room-types {
    flex-direction: column;
    
    .room-type-item {
      flex: none;
    
      flex-direction: row;
      align-items: center;
      padding-bottom: 0px;
      
      h2 {
        width: 200px;
      }
      
      hr {
        display: none;
      }
      
      ul {
        min-width: calc( 58% - 34px );
      }
      
      label.button {
        position: inherit;
        left: 0;
        -webkit-transform: none;
        transform: none;
        width: 170px;
        margin: 0 14px 0 0;
      }
    }
  }
}

//
// Mobile
//
@include media($mobile) {
  #tab1Container .room-types {
    
    .room-type-item {
      flex-wrap: wrap;
      font-size: 80%;
      justify-content: center;
      
      label.button {
        margin: 0 14px 14px 0;
      }
    }
  }
}