//
// Desktop
//
#tab2Container .optional-services {
	
	margin-top: 20px; 
    padding-left: 30px;
    padding-right: 30px;
	
	border:	1px solid $c-border-primary;
	
	background-color: white;

	.warning-tag {
	
		padding: 2px 4px;
		float: right;
	
		background-color: $c-warning;
		
		font-family: "Roboto";
		font-size: 12px;
		
		color: white;
		
	}
	
	.optional-services-header {
	
		width: 100%;
		height: 50px;
	
		cursor: pointer;
		
		position: relative;
		
		margin-top: 30px;
		padding-left: 46px;
	
		border: none;
		background-color: white;
		
		text-align: left;
		font-family: "Roboto";
		font-size: 24px;
		font-weight: 800;
		color: $c-menu;
		
		&:before {
		
			content: " ";
			
			width: 26px;
			height: 24px;
			
			position: absolute;
			left: 0px;
			
			background-image: url('../img/angle-down-blue.svg');
			background-repeat: no-repeat;
			background-position: 5px 10px;
			
		}
		
		& sub {
			margin-left: 20px;
		
			position: relative;
			
			line-height: 0;
			color: $c-primary;
			font-size: 50%;
			vertical-align: middle;
		}
		
		&.opened {
		
			&:before {
			
				top: 10px;
				
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
			}
			
		}
		
		&.closed {
		}
		
	}
		
	.optional-service {
	
		margin-bottom: 30px;
	
		color: $c-fourth;
		
		border:	1px solid $c-border-primary;
	
		.main-information {
	
			display: flex;
			align-items: flex-start;
		
			.optional-service-image {
				
				
				
			}
		
			.optional-service-description {
			
				padding-left: 30px;
				padding-right: 30px;
		
				position: relative;
				
				font-family: "Roboto";
				font-size: 14px;
				
				h3 {
					font-family: "Roboto";
					color: $c-menu;
				}
			
				.more-information-link {
				
				    width: 100%;
					
					cursor: pointer;
	
					border: none;
					background-color: white;
					
					text-align: left;
					font-family: "Roboto";
					font-size: 18px;
					font-weight: 800;
					color: $c-menu;
			
					&:before {
					
						content: " ";
						
						width: 26px;
						height: 24px;
						
						position: absolute;
						left: 296px;
						
						background-image: url('../img/angle-down-blue.svg');
						background-repeat: no-repeat;
						background-position: 5px 10px;
						background-size: 15px;
						
					}
		
					&.opened {
					
						&:before {
							
							-webkit-transform: rotate(180deg);
							-moz-transform: rotate(180deg);
							-ms-transform: rotate(180deg);
							-o-transform: rotate(180deg);
							transform: rotate(180deg);
						}
						
					}
					
				}
				
			}
			
		}
		
		.more-information-container {
		
			padding-left: 24px;
			padding-right: 24px;
		
			font-family: "Roboto";
			font-size: 14px;
			
			.include-list {
			
				display: flex;
				justify-content: space-between;
				
				li {
					flex-grow: 1;
					flex-basis: 0;
				}
				
			}
			
			.more-information-note {
				font-weight: 800;
				color: $c-primary;
			}
		
		}
		
	}
	
}

//
// Tablet
//
@include media($tablet) {
  
}

//
// Mobile
//
@include media($mobile) {
  
}