//
// Desktop
//
#tab2Container .optional-services {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid $c-border-primary;
  background-color: white;
  .warning-tag {
    margin-right: 41px;
    padding: 2px 4px;
    position: absolute;
    right: 0px;
    background-color: #E82E34;
    font-family: "Roboto";
    font-size: 10px;
    color: white;
    letter-spacing: 1.52px;
  }
  .optional-services-header {
    width: 100%;
    height: 50px;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
    padding-left: 46px;
    border: none;
    background-color: white;
    text-align: left;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 800;
    color: $c-menu;
    &:before {
      content: " ";
      width: 26px;
      height: 24px;
      position: absolute;
      left: 0px;
      background-image: url('../img/angle-down-blue.svg');
      background-repeat: no-repeat;
      background-position: 5px 10px;
    }
    & sub {
      margin-left: 20px;
      position: relative;
      line-height: 0;
      color: $c-primary;
      font-size: 50%;
      vertical-align: middle;
    }
    &.opened {
      &:before {
        top: 10px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
    &.closed {}
  }
  .optional-service {
    margin-bottom: 30px;
    color: $c-fourth;
    border: 1px solid $c-border-primary;
    .main-information {
      display: flex;
      align-items: flex-start;
      .optional-service-image {}
      .optional-service-description {
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        font-family: "Roboto";
        font-size: 14px;
        h3 {
          font-family: "Roboto";
          color: $c-menu;
        }
        .more-information-link {
          width: 100%;
          cursor: pointer;
          border: none;
          background-color: white;
          text-align: left;
          font-family: "Roboto";
          font-size: 18px;
          font-weight: 800;
          color: $c-menu;
          &:before {
            content: " ";
            width: 26px;
            height: 24px;
            position: absolute;
            left: 296px;
            background-image: url('../img/angle-down-blue.svg');
            background-repeat: no-repeat;
            background-position: 5px 10px;
            background-size: 15px;
          }
          &.opened {
            &:before {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .more-information-container {
      padding-left: 24px;
      padding-right: 24px;
      font-family: "Roboto";
      font-size: 14px;
      .include-list {
        display: flex;
        justify-content: space-between;
        ul {
          flex: 1;
        }
      }
      .more-information-note {
        font-weight: 800;
        color: $c-primary;
      }
    }
  }
}

//
// Tablet
//
@include media($tablet) {

  #tab2Container .optional-services {
    .optional-service {
      .main-information {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        .optional-service-image {
          flex-shrink: 0;
          max-width: 100%;
        }
        
        .optional-service-image img {
          width: 100%;
          height: auto;
        }
        .optional-service-description {
          max-width: calc(100% - 58px);
        }
        .more-information-link {
          padding-left: 46px;
          &:before {
            left:30px !important;
          }
        }
      }
      .more-information-container {
        .include-list {
          display: flex;
          flex-direction: column;
        }
        .more-information-note {
          font-weight: 800;
          color: $c-primary;
        }
        .include-list {
          ul {
            flex: none;
            margin: 0px;
            li {
              margin:10px 0px;
            }
          }
        }
      }
    }
  }
}

//
// Mobile
//
@include media($mobile) {
  #tab2Container .optional-services {
    .optional-services-header {
      sub {
        display:block;
      }
    }
  }
}