@font-face {
    font-family: 'Roboto';
    src: url(./../fonts/Roboto-Black.ttf) format("truetype"),
		url(./../fonts/Roboto-BlackItalic.ttf) format("truetype"),
		url(./../fonts/Roboto-Bold.ttf) format("truetype"),
		url(./../fonts/Roboto-BoldItalic.ttf) format("truetype"),
		url(./../fonts/Roboto-Italic.ttf) format("truetype"),
		url(./../fonts/Roboto-Light.ttf) format("truetype"),
		url(./../fonts/Roboto-LightItalic.ttf) format("truetype"),
		url(./../fonts/Roboto-Medium.ttf) format("truetype"),
		url(./../fonts/Roboto-MediumItalic.ttf) format("truetype"),
		url(./../fonts/Roboto-Regular.ttf) format("truetype"),
		url(./../fonts/Roboto-Thin.ttf) format("truetype"),
		url(./../fonts/Roboto-ThinItalic.ttf) format("truetype");
}

body {
  padding: 40px;
  background-color: #fafafa;
  font-family: 'Roboto';
}

.row {
  width: 100%;
  clear: both;
  @extend %clearfix;
}

.wrapper {
  width: 100%;
  max-width: $medium-desktop;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  @extend %clearfix;
}