body {
  padding: 0 40px 40px 40px;
  background-color: #fafafa;
  font-family: 'Roboto';
}

.row {
  width: 100%;
  clear: both;
  @extend %clearfix;
}

.wrapper {
  width: 100%;
  max-width: $medium-desktop;
  padding-left: 32px;
  padding-right: 32px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  @extend %clearfix;
}

nav {
  width: 100%;
  max-width: $medium-desktop;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  @extend %clearfix;
}