// Colors
$c-menu:   #72BAF2;
$c-menu-active: #003970;

$c-border-primary: #E0E1E6;

$c-primary:   #003970;
$c-secondary: #263746;

// Typography
$f-sans:  'flamabasic',      sans-serif;
$f-basic: 'flamabasic',      sans-serif;
$f-semib: 'flamasemibold',   sans-serif;
$f-light: 'flamalight',      sans-serif;
$f-ultra: 'flamaultralight', sans-serif;

// MediaQueries Breakpoints
// See https://github.com/carloscabo/mqbe and ./utils for both js and sass media queries helpers
$mobile: 767px;
$tablet: 1023px;
$small-desktop:  1024px;
$medium-desktop: 1264px;
